<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="main.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Data Analysis</title>
</head>

<body>

    <aside class="sidebar close">
        <header>
            <div class="logo-box">
                <span class="image">
                    <img src="images/svg/electric_bolt_20dp.svg" alt="">
                </span>

                <div class="company header-text">
                    <span class="name">KPLC</span>
                    <span class="profession">Power Effeciency</span>
                </div>
            </div>

            <i class="bx bx-chevron-right toggle"></i>
        </header>

        <nav class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href=" #">
                            <i class="bx bx-bar-chart-alt 2 icon"></i>
                            <span class="text nav-text">Revenue</span>
                            <i class='bx bx-chevron-down icon arrow'></i>
                        </a>

                        <ul class="sub-menu">
                            <li><a href=""><span class="text">Daily</span></a></li>
                            <li><a href=""><span class="text">Daily</span></a></li>
                            <li><a href=""><span class="text">Daily</span></a></li>
                        </ul>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-bell icon"></i>
                            <span class="text nav-text">Notification</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-pie-chart-alt icon"></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>


                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-heart icon"></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-wallet icon"></i>
                            <span class="text nav-text">Wallet</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-cog icon'></i>
                        <span class="text nav-text">Settings</span>
                    </a>
                </li>
            </div>
        </nav>
    </aside>

    <header class="top-bar">
        <!-- -----breadcrumb--- -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Customer</li>
            <li class="breadcrumb-item active" aria-current="page">Connection Details</li>
        </ol>

        <nav class="nav">
            <button class="theme-toggle" aria-label="Toggle theme" type="button">
                <i id="lights" class="bx bx-moon"></i>
            </button>

            <div class="notifications">
                <button class="notifications-trigger" aria-label="View notifications" type="button">
                    <i class="bx bxs-bell"></i>
                    <span class="badge">4</span>
                </button>

                <div class="alerts-panel" hidden>
                    <header>ALERTS CENTER</header>
                    <ul class="alerts-list">
                        <li class="alert">
                            <i class="bx bx-file blue"></i>
                            <div>
                                <time datetime="2019-12-12">December 12, 2019</time>
                                <p>A new monthly report is ready to download!</p>
                            </div>
                        </li>
                        <li class="alert">
                            <i class="bx bx-user green"></i>
                            <div>
                                <time datetime="2019-12-07">December 7, 2019</time>
                                <p>$290.29 has been deposited into your account!</p>
                            </div>
                        </li>
                        <li class="alert">
                            <i class="bx bx-error yellow"></i>
                            <div>
                                <time datetime="2019-12-02">December 2, 2019</time>
                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                            </div>
                        </li>
                    </ul>
                    <button class="show-all" type="button">Show All Alerts</button>
                </div>
            </div>

            <div class="user">
                <button class="user-trigger" type="button">
                    <span class="avatar">M</span>
                    <div class="user-info">
                        <span>Farida Mutwa</span>
                        <span>Admin for KPLC LTD</span>
                    </div>
                    <i class="bx bx-chevron-down"></i>
                </button>

                <ul class="user-menu" hidden>
                    <li><a href="#profile"><i class="bx bx-user"></i>Profile</a></li>
                    <li><a href="#activity"><i class="bx bx-history"></i>Activity Log</a></li>
                    <li><a href="#logout"><i class="bx bx-log-out"></i>Logout</a></li>
                </ul>
            </div>

        </nav>
    </header>

    <main class="home">
        <section class="all-users">
            <div class="graph-box">
                <div class="box">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="box">
                    <canvas id="myChart2"></canvas>
                </div>

                <div class="box">
                    <canvas id="myChart3"></canvas>
                </div>
                <div class="box">
                    <canvas id="myChart4"></canvas>
                </div>

                <div class="box">
                    <canvas id="myChart5"></canvas>
                </div>
                <div class="box">
                    <canvas id="myChart6"></canvas>
                </div>
            </div>
        </section>
    </main>

    <script src="mychart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script> -->
    <script src="home.js"></script>
</body>

</html>